<div class="big-container">
    <div class="container">
        <header>
            <div class="logo">
                <h1><a href="/">Space viewer</a></h1>
            </div>
        </header>
        
        <section>
            <div class="contForm">
               <form action="/auth/login" method="POST">
                  <h3>Login</h3>

                  <div class="form-group">
                     <label for="">Username</label>
                     <input type="text" name="username">
                  </div>

                  <div class="form-group">
                     <label for="">Password</label>
                     <input type="password" name="password">
                  </div>
                  <div class="form-group">
                     {{#if errorMessage}}
                        {{errorMessage}}
                     {{/if}}
                  </div>
                  <button class="sub-btn" type="submit">Submit</button>
                  <p>No have an account?<a href="/auth/signup">Sign In</a></p>
               </form>
            </div>
         </section>
        
        
        <video src="../videos/earth.mp4" autoplay muted loop></video>
    </div>
</div>

            