<div class="big-container">
    <div class="container">
        <header>
            <div class="logo">
                <h1>Space viewer</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/auth/signup">Sign Up</a></li>
                    <li><a  href="#about">About</a></li>
                </ul>
            </nav>
        </header>
        
        <section>
            <h2>Space viewer</h2>
            <p>Back end NASA API proyect</p>
            <a href="/auth/login" class="active">Get Started</a>
        </section>
        
        <footer id="about">
            <h2>About me</h2>
            <p>Welcome to Site, please enjoy</p>
            <h3>follow me on social media</h3>
            <div class="row">
               <a href="https://github.com/Da-zeros"><i class="fa-brands fa-github"></i></a>
               <a href="https://linkedin.com/in/dani-roman-18a367231"><i class="fa-brands fa-linkedin"></i></a> 
            </div>
        </footer>
        <video src="../videos/earth.mp4" autoplay muted loop></video>
    </div>
</div>