<div class="big-container big-container2">
    <div class="container">
        <header>
            <div class="logo">
                <h1>My universe</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="/auth/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <div class="">
            My universe
        </div>
    </div>