*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background: linear-gradient(110deg, #0f1829, #050812);
}

.big-container{
  width: 100%;
  height: 100vh;
  max-width: 1700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  animation: fade 3s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade{
  to{opacity: 1;}
}

.container{
  width: 100%;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -1;
}

header{
  min-height: 60px;
  width: 100%;
  border-bottom: 1px solid #fff8;
  overflow: hidden;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

header .logo{
  float: left;
  margin-left: 20px;
}
header .logo h1{
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
  text-shadow: 0 0 5px white;
}

header nav{
  float: right;
  margin-right: 20px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul{
  margin-right: 30px;
  
}

nav ul li{
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;
}

.active{
  background: teal;
  border-radius: 20px;
}

a:hover{
  color: turquoise;
}

section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  text-shadow:  0 0 5px white;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

section h2{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 10px;
}

section p{
  line-height: 1.4;
  margin: 15px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

footer{
  width: 100%;
  text-align: center;
  color: white;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 3s;
  opacity: 0;
}

footer h2{
  text-transform: uppercase;
  letter-spacing: 10px;
}

footer p{
  max-width: 600px;
  margin: 15px auto;
  line-height: 1.4;
  letter-spacing: 2px;
}

@media (max-width:1000px){
  header .logo,
  header nav{
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

@media (max-width:850px){
  nav ul{
    min-width: 300px;
    margin: 0;
  }
}
/*Formulario signup login*/

.contForm{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 2px;
  background-color: rgba(240, 248, 255, 0.303);
  box-shadow: 0 0 5px #fff;
  max-width: 18vw;
  max-height: 50vh;
}

.contForm  h3{
  
  border-bottom: 1px solid #fff8;
  margin-bottom: 15px;
  text-shadow: 0 0 2px white;
  font-size: 28px;
}

.contForm  p{
  max-width: 100%;
  text-shadow: 0 0 2px white;
  font-size: 14px;
  text-transform: capitalize;
}

.form-group{
  padding: 5px 0;
}


.form-group input{
  text-shadow: 0 0 2px white;
  margin-top: 5px;
  width: 100%;
}

.sub-btn {
  border: none;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  
  text-shadow: 0 0 5px white;
  background: teal;
  border-radius: 20px;
  width: 100%;
}

.sub-btn:hover{
  text-shadow: 0 0 10px white;
  cursor: pointer;
  transform: scale(0.9);
}

/*Pagina Main*/

.big-container2{
  background-color: #192643;
}

.big-container3{
  background-image: url("../images/fondoCard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.api-cont{
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.card  p{
  padding: 15px;
  color: teal;
  text-shadow: 0 0 2px rgb(114, 245, 232)
  
}

.card  h3{
  border-bottom:solid 0.2px teal;
  margin-bottom:15px ;
  padding: 15px;
  color: white;
  
}

.card{
  margin: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 4px #000;
  padding: 10px;
  max-width: 40vw;
  max-height: 50vh;
  overflow: hidden;
}

.card:hover{
  
  cursor: pointer;
  box-shadow: 0 0 3px #000;
}

.card:hover .img-cont{
  transition: 1.5s;
  opacity: 1;
}

.card:hover h3{
  
  
  border-bottom:solid 0.2px rgb(24, 182, 182);
}

.card:hover p{
  
  
  color: rgb(23, 163, 163);

}

.img-cont{
  opacity: 0.5;
  max-width: 25vw;
  max-height: 50vh;
  overflow: hidden;
}

.img-cont img{
  width: 100%;
  height: 100%;
}

/*Exoplanetas*/
.app-cont, .app-contPost{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-top:20px ;
  padding: 0px 50px; 
}

.app-cont h2{
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(114, 245, 232);
  text-shadow: 0 0 2px rgb(114, 245, 232)
}

.app-cont p{
  color:white;
  font-size: 20px;
  padding-bottom: 20px;
}

.app-cont button{
  margin-left: 20px;
  width: 30%;
}


/*Exoplanetas Post*/
.app-contPost {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.app-contPost-description{
  color: white;
  line-height: 50px;
  font-size:25px ;
  display: flex;
  justify-content: space-between;
}

.app-contPost-description h2{
  color: black
}

.app-contPost-description span{
  padding-top: 10px;
  font-size: 28px;
  color: orange;
}

.app-contPost-description_left{
  padding: 20px;
  width: 600px;
}

.app-contPost-description_right{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-contPost-description_right p{
  font-size: 20px;

}

.app-contPost-canvas{

}

.sub-btn2{
  
  width: 30%;
}
            

/*************************************Canvas************************************4*/
canvas{
  border: solid 1px white;
  box-shadow: 0 0 2px white;
  width: 1200px !important;
  height: 500px !important;
}

/*************************************MY universe********************************/
.universe-cont{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.universe-cont-exoplanets{
  padding: 40px;
}

.universe-cont-messageDiv{
  padding: 50px;
  
}

/******************table exoPlanets*******************/
table.blueTable {
  margin-top: 20px;
  border: 1px solid #4163AE;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable i{
  color: #000;
  font-size: 20px;
}

table.blueTable .flex-i {
  display: flex;
  align-items: center;
  justify-content: center;
} 

table.blueTable span{
  font-weight: bolder;
  color: #000;
}

table.blueTable th{
  font-size: 20px;
}

table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  color: black;
  font-size: 18px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #4163AE;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

table button:hover{
  font-weight: bold;
}

/**************************Pic of the day**********************/

.app-cont-pic{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-cont-pic h2{
  color: rgb(255, 255, 255, 0.800);
  text-shadow: 0 0 3px white;
  font-size:2.5em;
  padding: 40px 0 20px 0;
}

.app-cont-pic h3{
  color: rgb(255, 255, 255, 0.766);
  border-bottom:1px solid rgba(255, 255, 255, 0.855);
  font-size: 1.8em;
  margin: 20px 0 20px 0;
}

.app-cont-pic h4{
  color: rgb(255, 255, 255, 0.666);
  font-size: 1.5em;
  padding: 20px 0 20px 0;
}

.app-cont-pic p{
  color: rgb(255, 255, 255, 0.566);
  max-width: 1300px;
  font-size: 1.4em;
}

.imgCont{
  border: 0.5px solid white;
  box-shadow: 0 0 5px white;
  margin: 20px;
}

.app-cont-pic p span{
  color: rgb(255, 255, 255, 0.766);
  font-weight: bold;
}

.app-cont-pic_title{
  text-shadow: 0 0 1px white;
}

.app-cont-pic_interact{
  width: 100%;
  display:flex;
  margin: 50px;
  padding-left:200px;
}

.formContent{
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.formContent p{
  padding:10px 0;
  color:white; 
}


.formContent input{
  width: 50%;
}
.sub-btnPic{
  margin-top: 10px;
  border: none;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  text-shadow: 0 0 5px white;
  background: teal;
  border-radius: 20px;
  width: 50%;
  
}

.sub-btnPic:hover{
  text-shadow: 0 0 10px white;
  cursor: pointer;
  transform: scale(0.9);
}

.extra{
  margin: top 20px;
  text-align: center;
  max-width: 350px;
}

.myUniverTitle{
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}