<div class="big-container big-container2 big-container3">
    <div class="container">
        <header>
            <div class="logo">
                <h1>Exoplanets</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/myUniverse">My universe</a></li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="/auth/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <div class="app-cont">
            <form action="/exoplanets" method="post">
                <h2>What they are?</h2>
                <p>An exoplanet is any planet beyond our solar system. Most orbit other stars, but free-floating exoplanets, called rogue planets, orbit the galactic center and are untethered to any star</p>
                <p><span>Select a planet to see its info:</span></p>
                <select name="exoId">
                    {{#each datosFinal}}
                        <option value={{this.kepid}}>{{this.kepler_name}}</li>
                    {{/each}}
                </select>
                <button class="sub-btn" type="submit">Select</button>
            </form>
        </div>
    </div>
</div>