<div class="big-container big-container2">
    <div class="container">
        <header>
            <div class="logo">
                <h1>Space viewer</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/myUniverse">My universe</a></li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="/auth//logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <div class="api-cont">
            <a href="/exoplanets">
                <div class="card">
                    <h3>Titulo de la api</h3>
                    
                    <div class="img-cont">
                        <img src="../../images/exoPlanets.jpg" alt="">
                    </div>
                    <p>Pequeña explicación</p>
                </div>
            </a>
           

            <div class="card">
                <h3>Titulo de la api</h3>
                
                <div class="img-cont">
                    <img src="../../images/exoPlanets.jpg" alt="">
                </div>
                <p>Pequeña explicación</p>
            </div>

            <div class="card">
                <h3>Titulo de la api</h3>
                
                <div class="img-cont">
                    <img src="../../images/exoPlanets.jpg" alt="">
                </div>
                <p>Pequeña explicación</p>
            </div>

            <div class="card">
                <h3>Titulo de la api</h3>
                
                <div class="img-cont">
                    <img src="../../images/exoPlanets.jpg" alt="">
                </div>
                <p>Pequeña explicación</p>
            </div>
        </div>
         
    </div>
</div>